
.root
  background: var(--background-secondary)
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  box-sizing: border-box
  overflow: scroll
  position: relative
  justify-content: center
  align-items: center

  &[data-mobile="true"]

    select, input
      font-size: 16px !important
