@import ./reset
@import ./themes
@import ./vars


html, body
  background: black
  font-family: $fontFamily
  margin: 0
  padding: 0
  color: #FFF
  height: -webkit-fill-available
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

#__next
  position: relative
  height: -webkit-fill-available
  box-sizing: border-box
